</body>

<footer class="bg-gray-950 text-cyan-600">
    <div class="flex flex-col justify-center items-center gap-5 p-4">
        <div class="mt-5 md:mt-7 text-2xl font-semibold text-amber-600">
            Youtube Subscriber 
        </div>
        <div class="flex justify-center items-center gap-1">
            <a class="ml-4 md:mx-5 hover:text-cyan-400`" href="https://github.com/anuragaffection"
                target='_blank'>
                <i class="fab fa-github text-2xl"></i>
            </a>
            <a class="ml-4 md:mx-5 hover:text-cyan-400`" href="https://www.linkedin.com/in/anuragaffection/"
                target='_blank'>
                <i class="fab fa-linkedin text-2xl"></i>
            </a>
            <a class="ml-4 md:mx-5 hover:text-cyan-400`" href="https://youtube.com/anuragaffection"
                target='_blank'>
                <i class="fab fa-youtube text-2xl"></i>
            </a>
            <a class="ml-4 md:mx-5 hover:text-cyan-400`" href="https://twitter.com/anuragaffectn"
                target='_blank'>
                <i class="fab fa-twitter text-2xl"></i>
            </a>
            <a class="ml-4 md:mx-5 hover:text-cyan-400 `" href="https://www.facebook.com/anuragaffectionn"
                target='_blank'>
                <i class="fab fa-facebook text-2xl"></i>
            </a>
            <a class="ml-4 md:mx-5 hover:text-cyan-400`" href="https://www.instagram.com/anurag.affection/"
                target='_blank'>
                <i class="fab fa-instagram text-2xl"></i>
            </a>
        </div>
        <div class=" mb-5 text-light text-amber-500 flex flex-col md:flex-row md:gap-3 justify-center items-center">
            <span>&copy; <%= new Date().getFullYear() %></span>
            <span>All rights reserved.</span>
            <span>A Family of Love & Affection.</span>
        </div>
    </div>
</footer>


</html>