<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <!-- <link rel="shortcut icon" href="../assets/youtube_backend.jpg" type="image/jpg"> -->
    <title>Youtube Subscriber</title>
</head>


<body>
    <div class='bg-gray-950 flex justify-between items-center px-10 py-3'>
        <a href="/" class="flex flex-wrap">
            <!-- <img src="../../assets/youtube_backend.jpg" alt="logo" height="40" width="40" class="rounded-full"> -->
            <div class="text-xl text-amber-500 font-bold"> Youtube Subscriber </div> 
        </a>
        <div class='flex flex-wrap gap-4 font-normal'>
            <a href="/resources">
                <button
                    class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Resources</button>
            </a>
            <a href="/addchannel">
                <button
                    class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600 ">
                    Add Channel</button>
            </a>
        </div>
    </div>